@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --font-serif: var(--font-serif);
  --letter-spacing: var(--letter-spacing);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
    --background: #f6f7eb;
    --foreground: #3e43f0;
    --card: #fffff4;
    --card-foreground: #000000;
    --popover: #fffff4;
    --popover-foreground: #000000;
    --primary: #302ecd;
    --primary-foreground: #ffffff;
    --secondary: #696869;
    --secondary-foreground: #ffffff;
    --muted: #c3d7ff;
    --muted-foreground: #302ecd;
    --accent: #d6d8ee;
    --accent-foreground: #000000;
    --destructive: #7d7678;
    --destructive-foreground: #000000;
    --border: #9db5ff;
    --input: #7f96dd;
    --ring: #4553f0;
    --chart-1: #4658dd;
    --chart-2: #9495a8;
    --chart-3: #829afb;
    --chart-4: #565867;
    --chart-5: #2318a9;
    --sidebar: #f6f7eb;
    --sidebar-foreground: #000000;
    --sidebar-primary: #302ecd;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #fffff4;
    --sidebar-accent-foreground: #000000;
    --sidebar-border: #9db5ff;
    --sidebar-ring: #4553f0;
    --radius: undefined;
    --letter-spacing: 0em;
    --font-sans: "Geist Mono, sans-serif", Inter, ui-sans-serif, system-ui, sans-serif;
    --font-serif: "undefined", Georgia, Cambria, "Times New Roman", serif;
    --font-mono: "undefined", JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
    --radius-sm: undefined;
    --radius-md: undefined;
    --radius-lg: undefined;
    --radius-xl: undefined;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.1;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

.dark {
    --background: #090912;
    --foreground: #dddee4;
    --card: #04040b;
    --card-foreground: #ffffff;
    --popover: #04040b;
    --popover-foreground: #ffffff;
    --primary: #5477e6;
    --primary-foreground: #000000;
    --secondary: #83a2dc;
    --secondary-foreground: #000000;
    --muted: #1b1c27;
    --muted-foreground: #a7a8b1;
    --accent: #1a3c96;
    --accent-foreground: #ffffff;
    --destructive: #7b79ff;
    --destructive-foreground: #000000;
    --border: #2f303d;
    --input: #494a58;
    --ring: #3a58c4;
    --chart-1: #3454d6;
    --chart-2: #3e6ad8;
    --chart-3: #7799f5;
    --chart-4: #1a3c96;
    --chart-5: #192c96;
    --sidebar: #090912;
    --sidebar-foreground: #ffffff;
    --sidebar-primary: #5477e6;
    --sidebar-primary-foreground: #000000;
    --sidebar-accent: #030309;
    --sidebar-accent-foreground: #ffffff;
    --sidebar-border: #2f303d;
    --sidebar-ring: #3a58c4;
    --radius: undefined;
    --letter-spacing: 0em;
    --font-sans: "Geist Mono, sans-serif", Inter, ui-sans-serif, system-ui, sans-serif;
    --font-serif: "undefined", Georgia, Cambria, "Times New Roman", serif;
    --font-mono: "undefined", JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
    --radius-sm: undefined;
    --radius-md: undefined;
    --radius-lg: undefined;
    --radius-xl: undefined;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.1;
    --shadow-blur: 4px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 2px;
    --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 1px 2px -1px hsl(0 0% 0% / 0.10);
    --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 2px 4px -1px hsl(0 0% 0% / 0.10);
    --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 4px 6px -1px hsl(0 0% 0% / 0.10);
    --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.10), 0px 8px 10px -1px hsl(0 0% 0% / 0.10);
    --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
